h1{color: rgb(9, 9, 218);} 
h1 {
    font-size: 60px;font-family: 'Caveat', cursive;}
    p {
        color: rgb(36, 34, 34);
      }
      
      p {
        color: rgb(32, 32, 36);
      }
      h2{font-size: px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(62, 64, 64);text-align: justify;box-sizing: border-box}div.content-box {
        box-sizing: content-box;
        h4{font-size: 30px}
        }
h8{font-family: 'Courier New', Courier, monospace;color: aqua;}