h1{color: rgb(9, 9, 218);} 
h1 {
    font-size: 60px;font-family: 'Caveat', cursive;}
    p {
        color: rgb(36, 34, 34);
      }
      
      p {
        color: rgb(32, 32, 36);}
        
h4{font-size: 30px;}